
body {
  font-family: "Courier New", Times, serif;
}


div {
    background-color: lightblue;
}

.center {
    text-align: center;
    border: 3px solid black;
}

.tabledata td {
    border: 3px solid black;
}

.tableheader th {
    border: 3px solid black;
}
